---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Games</h1>

    <ul>
      <li>
        <a href="/games/demo">Demo</a>
      </li>
      <li>
        <a href="/games/brick">Brick</a>
      </li>
      <li>
        <a href="/games/flappy-birds">Flappy Birds</a>
      </li>
      <li>
        <a href="/games/wordle">Wordle</a>
      </li>
    </ul>
  </main>
</Layout>
